/* =============================================================================
   HTML5 Boilerplate CSS: h5bp.com/css
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; overflow-y:scroll; }
html, button, input, select, textarea { font-family: sans-serif; color: #222; }
body { margin: 0; font-size: 1em; line-height: 1.4; background:url(../img/wl.jpg) center center fixed; }

::-moz-selection { background: #dc1f1f; color: #fff; text-shadow: none; }
::selection { background: #dc1f1f; color: #fff; text-shadow: none; }

a { color: #000; }
a:visited { color: #000; }
a:hover { color: #000; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

svg:not(:root) { overflow: hidden; }

figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; width:980px;}
td { vertical-align: top; }

#table thead {
	border-bottom: 1px solid #666;
}

#table thead th {
	padding: 5px 10px 5px 10px;
	text-align: left;
}

#table td {
	padding: 10px;
	vertical-align: top;
	border-bottom: 1px solid #ccc;
	font-size:14px;
}

tbody tr:hover {
	background: #ebebeb;	
}

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }



/* ===== Primary Styles ========================================================
   Author: Diablofy Crew
   ========================================================================== */

#container {
	background:#FFF;
    height: auto;
    margin: 0 auto;
	padding:10px;
    width: 980px;
	-moz-box-shadow: 0px 0px 10px #000000;
	-webkit-box-shadow: 0px 0px 10px #000000;
	box-shadow: 0px 0px 10px #000000;
}

header {
	width:100%;
}

footer {
	border-top:2px solid #ccc;
	padding-top:25px;
	margin-top:15px;
	font-size:12px;
	color:#000;	
}

.main {
	margin-top: 10px;
	width: 100%;
	min-height:500px;
}

.main-child {
	background:url(../img/bg.png);
	width: 100%;
	height: 400px;
}

.aboutimg {
	margin: 0 auto;
	width: 480px;
	padding:20px;
}

/* ===== NAVIGATION ===== */

#menu, #menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#menu {
	width: 890px;
	float: right;
	border: 1px solid #222;
	background-color: #111;
	background-image: linear-gradient(#444, #111);
}

#menu:before,
#menu:after {
	content: "";
	display: table;
}

#menu:after {
	clear: both;
}

#menu {
	zoom:1;
}

#menu li {
	float: left;
	border-right: 1px solid #222;
	box-shadow: 1px 0 0 #444;
	position: relative;
}

#menu a {
	float: left;
	padding: 12px 30px;
	color: #999;
	text-transform: uppercase;
	font: bold 12px Arial, Helvetica;
	text-decoration: none;
	text-shadow: 0 1px 0 #000;
}

#menu li:hover > a {
	color: #fafafa;
}

*html #menu li a:hover { /* IE6 only */
	color: #fafafa;
}

/*===== LOGIN ===== */

.login-bar {
	float: right;
	height: 30px;
	margin: 5px 0 5px 0;
	width: 890px;
	text-transform: uppercase;
	font: bold 12px Arial, Helvetica;
}

.login-bar ul {
	margin: 0;
	padding: 0;
	list-style: none;
	position: relative;
	float: right;
	background: #0194ca; /* Old browsers */
	background: -moz-linear-gradient(top, #0194ca 0%, #005b88 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0194ca), color-stop(100%,#005b88)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #0194ca 0%,#005b88 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #0194ca 0%,#005b88 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #0194ca 0%,#005b88 100%); /* IE10+ */
	background: linear-gradient(top, #0194ca 0%,#005b88 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0194ca', endColorstr='#005b88',GradientType=0 ); /* IE6-9 */
	border-bottom: 1px solid #fff;
}

.login-bar li {
	float: left;
	padding:2px 10px 0px 10px;
}

.login-bar #login, #myplaylists {
	border-right: 1px solid #ddd;
}

.login-bar #login-trigger,
.login-bar #signup a,
.login-bar #myplaylists a {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	height: 25px;
	line-height: 25px;
	font-weight: bold;
	padding: 0 8px;
	text-decoration: none;
	color: #fff;
}

.login-bar #login-trigger:hover,
.login-bar #login .active,
.login-bar #signup a:hover {
	background: #0194ca; /* Old browsers */
	background: -moz-linear-gradient(top, #0194ca 0%, #005b88 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0194ca), color-stop(100%,#005b88)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #0194ca 0%,#005b88 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #0194ca 0%,#005b88 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #0194ca 0%,#005b88 100%); /* IE10+ */
	background: linear-gradient(top, #0194ca 0%,#005b88 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0194ca', endColorstr='#005b88',GradientType=0 ); /* IE6-9 */
}

.login-bar #login-content {
	display: none;
	position: absolute;
	top: 24px;
	right: 0;
	z-index: 999;
	background: #fff;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
	background-image: -webkit-linear-gradient(top, #fff, #eee);
	background-image: -moz-linear-gradient(top, #fff, #eee);
	background-image: -ms-linear-gradient(top, #fff, #eee);
	background-image: -o-linear-gradient(top, #fff, #eee);
	background-image: linear-gradient(top, #fff, #eee);
	padding: 15px;
	-moz-box-shadow: 0px 3px 5px #000000;
	-webkit-box-shadow: 0px 3px 5px #000000;
	box-shadow: 0px 3px 5px #000000;
}

.login-bar li #login-content {
	right: 0;
	width: 250px;
}

/*--------------------*/

#inputs input {
	background: #f1f1f1;
	padding: 6px 5px;
	margin: 0 0 5px 0;
	width: 238px;
	border: 1px solid #ccc;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 0 1px 1px #ccc inset;
	-webkit-box-shadow: 0 1px 1px #ccc inset;
	box-shadow: 0 1px 1px #ccc inset;
}

#inputs input:focus {
	background-color: #fff;
	border-color: #e8c291;
	outline: none;
	-moz-box-shadow: 0 0 0 1px #e8c291 inset;
	-webkit-box-shadow: 0 0 0 1px #e8c291 inset;
	box-shadow: 0 0 0 1px #e8c291 inset;
}

/*--------------------*/

#login #actions {
	margin: 10px 0 0 0;
}

#login #submit {
	background-color: #d14545;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#e97171), to(#d14545));
	background-image: -webkit-linear-gradient(top, #e97171, #d14545);
	background-image: -moz-linear-gradient(top, #e97171, #d14545);
	background-image: -ms-linear-gradient(top, #e97171, #d14545);
	background-image: -o-linear-gradient(top, #e97171, #d14545);
	background-image: linear-gradient(top, #e97171, #d14545);
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	text-shadow: 0 1px 0 rgba(0,0,0,.5);
	-moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
	-webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
	border: 1px solid #7e1515;
	float: left;
	height: 30px;
	padding: 0;
	width: 100px;
	cursor: pointer;
	font: bold 14px Arial, Helvetica;
	color: #fff;
}

#login #submit:hover,
#login #submit:focus {
	background-color: #e97171;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#d14545), to(#e97171));
	background-image: -webkit-linear-gradient(top, #d14545, #e97171);
	background-image: -moz-linear-gradient(top, #d14545, #e97171);
	background-image: -ms-linear-gradient(top, #d14545, #e97171);
	background-image: -o-linear-gradient(top, #d14545, #e97171);
	background-image: linear-gradient(top, #d14545, #e97171);
}       

#login #submit:active {
	outline: none;
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
}

#login #submit::-moz-focus-inner {
	border: none;
}

#login label {
	float: right;
	line-height: 30px;
}

#login label input {
	position: relative;
	top: 2px;
	right: 2px;
}

/* ===== Contact Forms ===== */

.contact {
	width: 400px;
	margin: 0 auto;
	margin-bottom: 20px;
	padding-top: 20px;
}

.cont input, textarea { 
	padding: 9px;
	margin-bottom: 15px;
	border: solid 1px #E5E5E5;
	outline: 0;
	font: normal 13px/100% Verdana, Tahoma, sans-serif;
	width: 400px;
	background: #FFFFFF url('bg_form.png') left top repeat-x;
	background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));
	background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);
	box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	-moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	-webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
}

.submit input {
	padding: 9px;
	margin-bottom: 15px;
	border: solid 1px #E5E5E5;
	outline: 0;
	font: normal 13px/100% Verdana, Tahoma, sans-serif;
	width: 420px;
	background: #FFFFFF url('bg_form.png') left top repeat-x;
	background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));
	background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);
	box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	-moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	-webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
}

textarea { 
	width: 400px;
	max-width: 400px;
	height: 150px;
	line-height: 150%;
}

.contact input:hover, textarea:hover,
input:focus, textarea:focus { 
	border-color: #C9C9C9; 
	-webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px;
}

.form label { 
	margin-left: 10px; 
	color: #999999; 
}

.search {
	position:absolute;
}

.search .submit {
	padding: 4px 15px 4px 15px;
	border: solid 1px #E5E5E5;
	background: #FFFFFF url('bg_form.png') left top repeat-x;
	background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));
	background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);
}

.search input:hover, textarea:hover,
input:focus, textarea:focus { 
	-webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px;
}

/* ===== Select ===== */

.size { float: left; }
.size .field {
	color:#0095ca; 
	padding:5px; 
	border:none; 
	cursor:pointer;
	font-family:'lucida sans unicode',sans-serif; font-size:1em;
	-webkit-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
}
.size .field:hover {

}
.size>ul.list { 
	display:none;
	position:absolute; 
	z-index:999;
	width:300px;
	margin:0; 
	padding:10px; 
	list-style:none;
	background:#fff; 
	color:#333;
	-moz-border-radius:5px; 
	-webkit-border-radius:5px; 
	border-radius:5px;
	-moz-box-shadow:0 0 5px #999; 
	-webkit-box-shadow:0 0 5px #999; 
	box-shadow:0 0 5px #999
}
.size>ul.list li {
	padding:10px;
	border-bottom: solid 1px #ccc;
}
.size>ul.list li:hover {
	color:#0095ca; 
}
.size>ul.list li:last-child { border:none }

/*Invite a friend css*/
.size .fieldShare {
	color:#0095ca; 
	padding:5px; 
	border:none; 
	cursor:pointer;
	font-family:'lucida sans unicode',sans-serif; font-size:1em;
	-webkit-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
}
.size .fieldShare:hover {

}
.size>ul.listShare { 
	display:none;
	position:absolute; 
	z-index:999;
	width:300px;
	margin:0; 
	padding:10px; 
	list-style:none;
	background:#fff; 
	color:#333;
	-moz-border-radius:5px; 
	-webkit-border-radius:5px; 
	border-radius:5px;
	-moz-box-shadow:0 0 5px #999; 
	-webkit-box-shadow:0 0 5px #999; 
	box-shadow:0 0 5px #999
}
.size>ul.listShare li {
	padding:10px;
	border-bottom: solid 1px #ccc;
}
.size>ul.listShare li:hover {

}
.size>ul.listShare li:last-child { border:none }

/* ===== BLÅA KNAPPEN ===== */
.button {
	float:right;
	font-size: 12px; 
	text-decoration: none!important; 
	font-family: Helvetica, Arial, sans serif;
	padding: 4px 6px; 
	border-radius: 3px; 
	-moz-border-radius: 3px; 
	box-shadow: inset 0px 0px 2px #fff;
	-o-box-shadow: inset 0px 0px 2px #fff;
	-webkit-box-shadow: inset 0px 0px 2px #fff;
	-moz-box-shadow: inset 0px 0px 2px #fff;
}

.button:active {
	box-shadow: inset 0px 0px 3px #999;
	-o-box-shadow: inset 0px 0px 3px #999;
	-webkit-box-shadow: inset 0px 0px 3px #999;
	-moz-box-shadow: inset 0px 0px 3px #999;
}

.blue {
	color: #41788c;
	border: 1px solid #6fb1c7;
	background-image: -moz-linear-gradient(#aae5f7, #73d0f1);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#73d0f1), to(#aae5f7));
	background-image: -webkit-linear-gradient(#aae5f7, #73d0f1);
	background-image: -o-linear-gradient(#aae5f7, #73d0f1);
	text-shadow: 1px 1px 1px #bfeafb;
	background-color: #73d0f1;
}
.blue:hover {
	border: 1px solid #4690ad;
	background-image: -moz-linear-gradient(#73d0f1, #aae5f7);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#aae5f7), to(#73d0f1));
	background-image: -webkit-linear-gradient(#73d0f1, #aae5f7);
	background-image: -o-linear-gradient(#73d0f1, #aae5f7);
	background-color: #aae5f7;
}
.blue:active {border: 1px solid #3b778b;}

/* ===== MÖRDARKNAPPEN ===== */

#buttonOfDeath {
	width:980px;
	height:60px;
	padding: 10px 16px; 
	border-radius: 3px; 
	-moz-border-radius: 3px; 
	box-shadow: inset 0px 0px 2px #fff;
	-o-box-shadow: inset 0px 0px 2px #fff;
	-webkit-box-shadow: inset 0px 0px 2px #fff;
	-moz-box-shadow: inset 0px 0px 2px #fff;
	color: #fff;
	border: 1px solid #4d4d4d;
	background-image: -moz-linear-gradient(#900b0b, #d71818);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#900b0b), to(#d71818));
	background-image: -webkit-linear-gradient(#900b0b, #d71818);
	background-image: -o-linear-gradient((#900b0b, #d71818);
	text-shadow: 1px 1px 1px #6d6d6d;
	background-color: #454545;
}

#buttonOfDeath:hover {
	border: 1px solid #363636;
	background-image: -moz-linear-gradient(#d71818, #900b0b);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#656565), to(#900b0b));
	background-image: -webkit-linear-gradient(#d71818, #900b0b);
	background-image: -o-linear-gradient(#d71818, #900b0b);
	background-color: #656565;
}

#buttonOfDeath:active {
	.button:active {
	box-shadow: inset 0px 0px 3px #999;
	-o-box-shadow: inset 0px 0px 3px #999;
	-webkit-box-shadow: inset 0px 0px 3px #999;
	-moz-box-shadow: inset 0px 0px 3px #999;
	border: 1px solid #000;
}

/* =============================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {
	/* Style adjustments for viewports that meet the condition */
}

/* =============================================================================
   Non-Semantic Helper Classes
   ========================================================================== */

.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

/* =============================================================================
   Print Styles
   ========================================================================== */
 
@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
