body, html {
	height: 100%;
	margin: 0;
	padding: 0;
	position: relative;
	width: 100%
}

.wrapper {
	height: 100%;
	overflow: hidden;
	position: relative;
	width: 100%
}

.something {
	background: pink;
	height: 40px;
	margin: 100px auto 0 auto;
	padding: 0;
	position: relative;
	width: 500px
}

.click {
	border-radius: 5px;
	height: 40px;
	left: 440px;
	position: absolute;
	top: 0;
	width: 60px
}

.otherthing {
	background: red;
	display: none;
	height: 160px;
	left: 300px;
	position: absolute;
	top: 40px;
	width: 200px
}
